.homepage-container { 
  display: flex;
  flex-direction: row;
}

.photo-container { 
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-left: 15%; 
  margin-top: 5vh; 
  width: 15%; 
  max-width: 370px;
  min-width: 200px;
  height: 350px;
  border-radius: 50%;
}

.image-icon {
  height: 100%; 
  width: 100%;
}

.text-container { 
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
  margin-left: 5%;
  max-width: 30%;
}

.text-container h1 { 
  font-weight: 800;
  font-size: 50px;
}

.text-container p { 
  font-size: 20px;
}

.loc { 
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pin-icon {
  width: 30px;
  height: 30px;
}

.mystudies-icon { 
  width: 30%;
  height: 30%;
  margin-bottom: 10vw;
}

.loc p { 
  color: blue;
  font-size: medium;
}

.languages{ 
  display: flex;
  justify-content: center;
  margin-top: 15vh;
  text-decoration: underline;
}


.languages-container {
  display: flex;
  justify-content:center;
  margin-top: 100px;
}

.language-icon {
  width: 144px;
  height: 144px;
  margin-left: 50px;
  margin-right: 50px;
}

.language { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}