.container { 
  display: flex;
  flex-direction: row;
}

.photo-container { 
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-left: 5%; 
  margin-top: 5vh; 
  width: 30%; 
  max-width: 270px;
  min-width: 120px;
  height: 300px;
  border-radius: 50%;
}

.image-icon {
  height: 100%; 
  width: 100%;
}

.text-container { 
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
  margin-left: 5%;
  max-width: 30%;
}

.text-container h1 { 
  font-weight: 800;
}

.loc { 
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pin-icon {
  width: 30px;
  height: 30px;
}

.loc p { 
  color: blue;
  font-size: medium;
}

.contact-container { 
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
  margin-left: 25%; 
  margin-right: 5%;
}

.contact { 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5C5CFF;
  color: white;
  font-size: 1.3rem; 
  width: 150px;
  height: 80px;
}

.link-icons { 
  margin-top: 1vh;
  display: flex;
  flex-direction: row;
}

.email-icon { 
  width: 30px;
  margin-left: 15px;
}

.pro { 
  display: flex;
  justify-content: center;
  margin-top: 15vh;
  text-decoration: underline;
}

.projects-container {
  display: flex;
  justify-content: space-around;
  margin-top: 5vh;
}

.project-icon {
  width: 100%;
  max-width: 300px; 
  height: 100%;
}

.project { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}